@model TheatreCMS3.Areas.Blog.Models.BlogAuthor
<div id="authorContainer-@Model.BlogAuthorId">
    <div class="btnNav">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active btn btn-dark text-light"><a href="#blogDetailsTab" aria-controls="blogDetailsTab" role="tab" data-toggle="tab">Author Details</a></li>
            <li role="presentation"><a href="#blogPostTab" class="btn btn-dark text-light" aria-controls="blogPostTab" role="tab" data-toggle="tab">Blog Post</a></li>
            <li role="presentation"><a href="#blogContactTab" class="btn btn-dark text-light" aria-controls="blogContactTab" role="tab" data-toggle="tab">Contact</a></li>
            <li role="presentation"><a href="#blogTwitterTab" class="btn btn-dark text-light" aria-controls="blogTwitterTab" role="tab" data-toggle="tab">Twitter</a></li>
        </ul>
    </div>

    <div class="detailsContainer tab-content" id="authorContainer">
        <div role="tabpanel" class="authorDetailsTab tab-pane active" id="blogDetailsTab">
            <div class="imageContainer">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Bill_Murray_by_David_Shankbone.jpg/463px-Bill_Murray_by_David_Shankbone.jpg" alt="Bill Murray" />
            </div>
            <div class="bioSection">
                <dl class="dl-horizontal">
                    <dd class="authorName">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dd class="bioContainer">
                        @Html.DisplayFor(model => model.Bio)
                    </dd>
                    <div class="flex-container">
                    <dt class="general detailsJoinedLabel">
                        @Html.DisplayNameFor(model => model.Joined)
                    </dt>
                    <dd class="detailsJoined">
                        @Html.DisplayFor(model => model.Joined)
                    </dd>

                    <dt class="general detailsLeftLabel">
                        @Html.DisplayNameFor(model => model.Left)
                    </dt>
                    <dd class="detailsLeft">
                        @Html.DisplayFor(model => model.Left)
                    </dd>
                </dl>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tabContainer" id="blogPostTab">
            <p>Implement at a later date</p>
        </div>
        <div role="tabpanel" class="tab-pane tabContainer" id="blogContactTab">
            <p>Implement at a later date</p>
        </div>
        <div role="tabpanel" class="tab-pane tabContainer" id="blogSocialTab">
            <p>Implement at a later date</p>
        </div>
        <button type="button" data-deleteIndex="@Model.BlogAuthorId" id="modalBtn" class="btn btn-danger indexDelete deleteAuthor">Delete</button>
        <button type="button" class="btn btn-success indexEdit">  @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }, new { @class = "button" })</button>
    </div>
</div>   